name: firmware

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request: {}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
            ./.pio

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run -e lilka_v2

      - name: Copy firmware
        run: cp .pio/build/lilka_v2/firmware.bin mpeg_stream_player.bin

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: mpeg_stream_player-firmware
          path: ./mpeg_stream_player.bin

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./mpeg_stream_player.bin
          